.different {
  padding: 4rem;
  min-height: 100svh;
}

.packagesList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 50vh; /* Extra space for scrolling */
    position: relative;
}

.packagesCard .cardWrap{
    display: grid;
    align-items: center;
    grid-template-columns: 1.5fr repeat(2, 1fr) auto;
    gap: 2rem;
    width: 100%;
    background: rgba(250, 250, 250, 1);
    color: var(--color-mono-secondary);
    padding: 2rem 4rem;
    border-radius: 0.25rem;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: center top;
    min-height: 200px;
    position: relative;
    z-index: 2;
}

.packagesCard:before {
    content: '';
  position: absolute;
  inset: -4px;
  background: linear-gradient(45deg, rgba(250, 250, 250, 1), #4ecdc4, #45b7d1, #f9ca24, rgba(250, 250, 250, 1));
  background-size: 300% 300%;
  border-radius: 8px;
  z-index: -1;
  animation: gradientShift 3s ease infinite;
}

.packagesCard:nth-of-type(2):before {
    animation: gradientShift 4s ease infinite;
}
.packagesCard:nth-of-type(3):before {
    animation: 1s gradientShift 5s ease infinite;
}
.packagesCard:nth-of-type(4):before {
    animation: 0.4s gradientShift 6s ease infinite;
}
.packagesCard:nth-of-type(5):before {
    animation: gradientShift 7s ease infinite;
}

.packagesCard:after {
    content: '';
    background: rgba(250, 250, 250, 1);
    background-blend-mode: lighten;
    position: absolute;
    inset: 0;
    border-radius: 0.25rem;
}

@keyframes gradientShift {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}




.packagesCard h3 {
    font-family: var(--font-secondary);
    font-weight: 500;
    text-transform: uppercase;
    font-size: var(--type-h2);
    line-height: 1.1;
    letter-spacing: 0.06rem;
}
.byline {
    opacity: 0.4;
    padding-left: 0.125em;
    padding-bottom: 1rem;
    font-weight: 600;
}

.packagesCard ul {
    list-style: none;
    text-transform: uppercase;
}

.ctaButton {
    text-transform: uppercase;
    font-weight: 600;
}