.different {
  padding: 4rem;
  min-height: 100svh;
}

.packagesList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 50vh; /* Extra space for scrolling */
    position: relative;
}

.packagesCard {
    display: grid;
    align-items: center;
    grid-template-columns: 1.5fr repeat(2, 1fr) auto;
    gap: 2rem;
    width: 100%;
    background: rgba(250, 250, 250, 1);
    mix-blend-mode: luminosity;
    color: var(--color-mono-secondary);
    padding: 2rem 4rem;
    border-radius: 0.25rem;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: center top;
    min-height: 200px;
}




.packagesCard h3 {
    font-family: var(--font-secondary);
    font-weight: 500;
    text-transform: uppercase;
    font-size: var(--type-h2);
    line-height: 1.1;
    letter-spacing: 0.06rem;
}
.byline {
    opacity: 0.4;
    padding-left: 0.125em;
    padding-bottom: 1rem;
    font-weight: 600;
}

.packagesCard ul {
    list-style: none;
    text-transform: uppercase;
}

.ctaButton {
    text-transform: uppercase;
    font-weight: 600;
}